<h2>Dashboard Messages</h2>
<span><%= link "New Broadcast", class: "btn btn-primary", to: broadcast_path(@conn, :new) %></span>

<div class="container">

    <table id="broadcast-index-container" class="table">
      <thead>
        <tr>
          <th>Message</th>

        </tr>
      </thead>
      <tbody>
        <%= for b <- @broadcasts do %>
        <tr>
          <td><%= b.desc %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
</div>
