<h2>Show Broadcast</h2>

<ul>

  <li>
    <strong>Desc:</strong>
    <%= @broadcast.desc %>
  </li>

</ul>

<span><%= link "Edit", to: broadcast_path(@conn, :edit, @broadcast) %></span>
<span><%= link "Back", to: broadcast_path(@conn, :index) %></span>
